/node_modules
/public/hot
/public/assets/img/logo
/public/assets/img/mesin
/public/assets/img/product
/public/assets/img/promo
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
